.textblue {
    color: blue;
}

.textone {
    margin-left: 20px;
}

.texttwo {
    margin-left: 50px;
}

.texttrhee {
    margin-left: 80px;
}

.project-img {
    width: 300px;
    cursor: pointer;
    transition: transform 1s;
}

.project-img:hover {
    transform: scale(1.2);
}